body {
    font-family: 'Noto Sans Hebrew', sans-serif;
    margin: 2em;
    direction: rtl;
    background-color: #f8f6f3   ;
    /* margin: 10% 4% 4% 10%; */
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 4vw ;
    color: #936b51  ;
    font-stretch: 80%;
margin: 0;
    
}

h4 {
    text-align: right;
    width: 100%;
    font-size: 1.1em ;
    font-weight: bold;
    color: #444;
margin: 0;
padding-top: 0.5em;
}

h3 {
    text-align: center;
    font-size: 1.4em ;
    color: #666;
}

/* form coulmn*/

#obituary-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 30em);
    gap: 1em;
    font-weight: 500;
  }

.form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #ede3dc   ;
    padding: 1em;
    border-radius: 8px;
    width: 100%;
}

.fields-horz {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: 100%;
}

.form-toggle {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    width: 100%;
}

/* checkbox styling */

.toggle-checkbox {
    display: grid;
  place-content: center;
  width: 1.6em;
  height: 1.6em;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    box-shadow: inset 1em 1em #333;

  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid #936b51;
    outline-offset: max(2px, 0.15em);
  }

/* Text fields */

label {
  font-weight: bold;
  color: #655a4e;
    float: right;
    display: flex;
    justify-content: flex-start; /* Align horizontal */
    align-items: center; /* Align vertical */
}

input {
    width: min(100%, 100em);
    box-sizing: border-box;
    padding: 0.8em 0.6em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 1em;
  }

  input:focus {
    outline: 1px solid #666;
  }

textarea {
  display: block;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-size: 1em;
  height: 3em;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: none;
}

textarea:focus {
    outline: 1px solid #666;
}

/* slider */

input[type="range"] {
    /* width: 100%; */
    margin: 10px 0;
    background-color: #eee;
    accent-color: #b47553;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #333;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
  }

/* Obituary Preview Section */

#obituary-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    background-color: white;
    aspect-ratio: 297 / 210;
    transform: scale(1.2); /* Keep the original size */
    width: 50vw;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#preview-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 93%;
    margin: 4%;
    border: 1.4vw solid #000000;
    font-size: 1.4vw;    
    font-weight: 600;
    font-stretch: 80%;
    text-align: center; /* Center the text horizontally */
    box-sizing: border-box;
    overflow: auto;
    padding: 1em;
}

/* Spacer */
#preview-content hr {
    border: 0;
    height: 1px;
    background: transparent;
    margin: 20px 0; /* Adjust margin as needed */
}

/* Name */

#preview-content #first-name,
#preview-content #last-name {
    font-weight: 900;
    font-size: 2em;
    font-stretch: 80%;
    line-height: 1em;
}

#preview-content #nick-name {
    font-weight: 900;
    font-size: 1em;
    font-stretch: 80%;
}

/* Bottom section */

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#obituary-preview span.shiva {
text-align: right;
}

#obituary-preview span.grievers {
    text-align: left;
    font-weight: 800;

}