/* Normalize default styles for consistency */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body {
	margin: 4vw;
	direction: rtl;
	background-color: #f8f6f3;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4vw;
	justify-content: center;
}

@media (max-width: 1000px) {
	body {
		margin: 2em;
		flex-direction: column;
		justify-content: flex-start;
		gap: 4vw;
	}
}

/* Headline styles */

h1 {
	text-align: center;
	font-size: 400%;
	color: #936b51;
	font-stretch: 80%;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 1.6em;
	color: #936b51;
	font-stretch: 80%;
	margin: 0;
}

h4 {
	text-align: right;
	width: 100%;
	font-size: 1.1em;
	font-weight: bold;
	color: #444;
	margin: 0;
	padding-top: 0.5em;
}

h3 {
	text-align: center;
	font-size: 1.4em;
	color: #666;
}

/* form column*/

#obituary-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(100%, 30em);
	gap: 1em;
	font-weight: 500;
}

@media (max-width: 1000px) {
	#obituary-form {
		width: min(100%, 100%);
	}
}

.form-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background-color: #ede3dc;
	padding: 1em;
	border-radius: 8px;
	width: 100%;
}

.fields-horz {
	display: flex;
	flex-direction: row;
	gap: 1em;
	width: 100%;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	width: 100%;
}

.form-toggle {
	display: flex;
	flex-direction: row;
	gap: 0.6em;
	width: 100%;
}

/* checkbox styling */

.toggle-checkbox {
	display: grid;
	place-content: center;
	width: 1.6em;
	height: 1.6em;
}

input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
}

input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	/* Windows High Contrast Mode */
	background-color: CanvasText;
	box-shadow: inset 1em 1em #333;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:hover {
	outline: 1px solid #777;
}

input[type="checkbox"]:focus {
	outline: 1px solid #936b51;
}

/* Text fields */

label {
	font-weight: bold;
	color: #655a4e;
	float: right;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

input {
	width: min(100%, 100em);
	box-sizing: border-box;
}

textarea {
	display: block;
	height: 3em;
	resize: none;
}

input,
textarea {
	font-size: 1em;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.8em 0.6em;
}

input:hover,
textarea:hover {
	outline: 1px solid #777;
}

input:focus,
textarea:focus {
	outline: 1px solid #936b51;
}

/* slider */

input[type="range"] {
	/* width: 100%; */
	margin: 10px 0;
	background-color: #eee;
	accent-color: #b47553;
	height: 5px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #333;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]:hover {
	outline: 0;
}

/* Obituary Preview Section */

.preview-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	box-sizing: border-box;
	width: 50%;
	/* max-width: 60em; */
}

#obituary-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	background-color: white;
	aspect-ratio: 297 / 210;
	/* width: clamp(1em, 54vw, 60em); */
	overflow: hidden;
	box-shadow: 0.2em 0.2em 4px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
  	position: relative;
	width: 100%;
}

/* Mobile */

@media (max-width: 1000px) {
	#obituary-preview,
	.preview-section {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	#obituary-preview {
		zoom: 1.8;
		box-shadow: 0.1em 0.1em 2px rgba(0, 0, 0, 0.2);
	}
}

#preview-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 8%); 
	flex: auto;
	margin: clamp(0.6em, 4%, 2em);
	border: clamp(0.6em, 1.4vw, 1em) solid #000000;
	font-size: clamp(0.2em, 1.2vw, 20em);
	font-weight: 600;
	font-stretch: 80%;
	text-align: center;
	/* Center the text horizontally */
	box-sizing: border-box;
	overflow: auto;
	padding: clamp(0.2em, 1vw, 0.5em);
}

/* Spacer */

#preview-content hr {
	border: 0;
	height: 1px;
	background: transparent;
	margin: 20vw 0;
}

/* Name */

#preview-content #first-name,
#preview-content #last-name {
	font-weight: 900;
	font-size: 1.8em;
	font-stretch: 70%;
	line-height: 100%;
}

#preview-content #nick-name {
	font-weight: 900;
	font-size: 0.8em;
	font-stretch: 70%;
}

name-preview {
	letter-spacing: -0.1vw;
	word-spacing: 0.3vw;
}

/* Bottom section */

#bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	gap: 20%;
}

span#shiva {
	text-align: right;
	line-height: 110%;
	max-width: 30%;
}

span#grievers {
	text-align: left;
	line-height: 110%;
	font-weight: 800;
	max-width: 30%;
}

/* Buttons */

button {
	display: inline-block;
	padding: 0.8em 1.2em;
	background-color: #936b51;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #655a4e;
	transition: transform 0.1s ease;
}

button:active {
	background-color: #444;
}

/* Reset default styles */

* {
	font-family: "Noto Sans Hebrew", sans-serif;
	min-width: 0;
}
